body {
  /* background: #fdf9f9; */
  background-image: url(img/mountains.png);
  background-color: #C0392B;
  padding: 0px;
  margin: 0px;
}

img {
  width: 50px;
  height: 50px;
}

canvas {
  display: block;
  touch-action: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 252px;
  height: 252px;
  margin-right: -557px;
  margin-top: 0px;
}

.home {
  background: #2db34a;
  border-radius: 6px;
  cursor: pointer;
  height: 95px;
  line-height: 95px;
  text-align: center;
  transition-duration: .2s, 1s;
  transition-timing-function: linear, ease-in;
  transition-delay: 0s, 1s;
  width: 95px;
  font-size: 1.4em;
  padding-top: 0;
  font-family: tahoma;
  position: absolute;
  top: 0;
  right: 0;
}

.home:hover {
  background: #ff7b29;
  border-radius: 50%;
}
