html {
  font-size: 10px;


}
body{
  background-color: #212020;
}


.keys {
  display: inline-block;
  flex: 1;
  min-height:0;
  align-items: center;
  justify-content: center;

}

.key {
  border: .2rem solid green;
  border-radius: .5rem;
  /*margin: 1rem;*/
  font-size: 1.5rem;
  /*padding: 1rem .5rem;*/
  transition: all 1.5s ease;

  width: 7rem;
  /*text-align: center;*/

  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;

  /*display:inline-block;*/
  /*border:1px solid red;*/
  padding:10px;
  margin-bottom:5px;

}
.keyboard{
  text-align: center;
  padding-top: 8%;

}

img{
  height:80px;
  width:70px;
}


.playing {
  transform: scale(2.5);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}
.keyboardRow{

}
kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
